<div class="form_image">

	<br/>

<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix"><center>
				<h1>Create your request here</h1>
</center>
			</div>

		</section><!-- #page-title end -->

<%= form_for @request, :html => {:id => "form", :class => "topBefore"} do |form| %>
	<%= render partial: '/requests/form', object: form %>

  <%= form.submit %>
<% end %>

</div>
