<div class="form_image">

	<br/>

<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix"><center>
				<h1>Create new ora offer here</h1>
</center>
			</div>

		</section><!-- #page-title end -->
<!--
<form id="form" class="topBefore"> -->

<%= form_for @offer, :html => {:id => "form", :class => "topBefore"} do |form| %>
	<%= render partial: '/offers/form', object: form %>
<br/><br/>
  <%= form.submit %>
<% end %>

<!-- </form> -->

 </div>
