.header-logo {
  height:120% ;
}

.glyphicon {
  padding-right: 40px;
  padding-left: 30px;
    font-size: 20px;
    color:#18bb9b;
}

.btn {
  background: #18bb9a;
  background-image: -webkit-linear-gradient(top, #18bb9a, #72e0c8);
  background-image: -moz-linear-gradient(top, #18bb9a, #72e0c8);
  background-image: -ms-linear-gradient(top, #18bb9a, #72e0c8);
  background-image: -o-linear-gradient(top, #18bb9a, #72e0c8);
  background-image: linear-gradient(to bottom, #18bb9a, #72e0c8);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  color: #ffffff;
  font-size: 10px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #15ad8f;
  background-image: -webkit-linear-gradient(top, #15ad8f, #129178);
  background-image: -moz-linear-gradient(top, #15ad8f, #129178);
  background-image: -ms-linear-gradient(top, #15ad8f, #129178);
  background-image: -o-linear-gradient(top, #15ad8f, #129178);
  background-image: linear-gradient(to bottom, #15ad8f, #129178);
  text-decoration: none;
}
